<% layout('../layout') -%>
<%
// 콤마 붙이기
function fnComma(num) {
    var reg = /(^[+-]?\d+)(\d{3})/;
    num += '';
    while(reg.test(num)) {
        num = num.replace(reg, '$1' + ',' + '$2');
    }
    return num;
}
// 콤마 제거
function fnUnComma(num) {
    if(num !=null) {
        return (num.replace(/\,/g,""));
    } else {
        return num;
    }

}
%>
<div id="fh5co-services-section">
    <div class="container">
        <!-- 타이틀 시작 -->
        <div class="fh5co-heading animate-box">
            <h2 class="ubar">서비스/솔루션</h2>
        </div>

        <!-- 타이틀 end -->
        <div class="service-list">

            <div class="col-md-12 col-sm-12 col-xs-12 animate-box" data-animate-effect="fadeIn">
                <div class="feature-center">
                    <div class="banner">
                        <img src="/images/banner.jpg">
                        <span class="banner-btn-1"><a href="<%=result.btn1LinkUrl%>" class="btn btn-banner open-popup-link"><%=result.btn1LinkNm%></a><a href="<%=result.btn3LinkUrl%>" class="btn btn-banner" target="_blank"><%=result.btn3LinkNm%></a></span>
                        <span class="banner-btn-2"><a href="<%=result.btn4LinkUrl%>" class="btn btn-banner2 open-popup-link"><%=result.btn4LinkNm%></a></span>
                    </div>
                </div>
            </div>

            <!--검색 시작-->
            <div class="col-md-12 mt20 mb5">
                <form id="srchCateForm" name="srchCateForm">
                    <div class="col-md-4 col-sm-12">
                        <h3>전체 서비스/솔루션</h3>
                    </div>
                    <div class="col-md-8 col-sm-12 text-right search-bar">
                        <select id="categoryGubun" name="categoryGubun"></select>
                        <select id="category2Gubun" name="category2Gubun"></select>
                        <select id="category3Gubun" name="category3Gubun" style="display:none;"></select>
                        <!--
                                            <input type="button" class="btn btn-search" value="검색" />
                        -->
					<span class="noborder">
						<select id="order" name="order">
								<option value="best" <%if(order=="best") {%>selected <%}%>> 추천순</option>
								<option value="new" <%if(order=="new") {%>selected <%}%>>최신순</option>
						</select>
					</span>
                    </div>
                </form>
            </div>
            <!--검색 끝-->
<%
    if(rList.length > 0) {
        rList.forEach(function(item, index) {
%>
            <div class="col-md-4 col-sm-6 col-xs-12 animate-box" data-animate-effect="fadeIn">
                <div class="feature-center">
					<span class="icon">
						<img src="/images/product/<%=item.pImage%>">
					</span>
                    <h3><%=item.pNm%></h3>
                    <p class="descrip"><%=item.pSmmry !=null ? item.pSmmry : '상품준비중입니다.'%></p>
                    <p><a href="/products/detail/<%=item.pCode%>" class="btn btn-grey open-popup-link"><i class="fa fa-search mr5"></i>상세보기</a><a href="/purchase/<%=item.pCode%>/<%=item.pUniqCode%>" class="btn"><i class="fa fa-shopping-cart mr5"></i>구매하기</a></p>
                </div>
            </div>
<%
        });
    } else {
%>
            <div class="col-md-4 col-sm-6 col-xs-12 animate-box" data-animate-effect="fadeIn">
                <div class="feature-center">
					<span class="icon">
						No Images
					</span>
                    <h3>No Products</h3>
                    <p>상품준비중입니다.</p>
                </div>
            </div>
<%
    }
%>
        </div>
    </div><!--container-->


</div><!--fh5co-services-section-->